
<dorpdown urls='{"scrollLoad": {"url": "/" , "label": "datas"}}' >
    <div class="exchange-record">
        <dl class="exchange-list">
            <dt class="shadow">
                <time class="show-time">2016年2月4日</time>
            </dt>
            <dd ng-repeat="data in vm.datas">
                <div class="coupon-box shadow">
                    <div class="coupon-detail">
                        <div class="coupon-count">
                            <span>劵点</span>
                            <div class="coupon-number">5000</div>
                        </div>
                        <div class="coupon-price">
                            <span class="c-red">卡劵</span>
                            <div class="fs-19 c-red"><span>￥</span><span class="coupon-number">50</span></div>
                        </div>
                    </div>
                    <div class="coupon-code">
                        1234-5567-7777-1234
                    </div>
                </div>
            </dd>

        </dl>
    </div>
</dorpdown>