<div class="taskrecord">
    <dorpdown urls='{"scrollLoad": {"url": "/" , "label": "datas"}}' >
    <section>
        <dl class="">
            <dt>
                <time class="show-time">2016年2月五日</time>
            </dt>
            <dd>
                <ul class="task-list">

                    <li ng-repeat="data in vm.datas">
                        <div class="list-box">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                </div>
                                <div class="l-b-point">{{task.price}}券点</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <time class="show-time">2016年2月五日</time>
            </dt>
            <dd>
                <ul class="task-list">

                    <li>
                        <div class="list-box">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                </div>
                                <div class="l-b-point">200券点</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-box">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                </div>
                                <div class="l-b-point">200券点</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-box">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                </div>
                                <div class="l-b-point">200券点</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
    </section>
    </dorpdown>
</div>
