body{
  background: #fff;
}
.remind-firend{

  overflow: hidden;
  header{
    padding: .15rem;
    border-bottom: 1px solid #d2d2d2;
    img{
      width: 1.045rem;
    }
  }
  section img{
    display: block;
    width: 1.77rem;
    margin: .2rem auto .04rem;
  }
}
.scan-code{
  text-align: center;
  .c-red {
    font-size: .14rem;
  }
}
.remind-btns{
  padding: 0 .4rem;
  margin-top: .81rem
}