<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>申请兑换</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/apply-exchange.css" />
</head>

<body>
    <div class="apply-exchange">
        <div class="coupon-list">
            <div class="coupon-box">
                <div class="coupon-point">
                    200券点
                </div>
                <em class="coupon-price"><i>￥</i>2</em>
            </div>
            <div class="coupon-box active">
                <div class="coupon-point">
                    200券点
                </div>
                <em class="coupon-price"><i>￥</i>2</em>
            </div>
            <div class="coupon-box disabled">
                <div class="coupon-point">
                    200券点
                </div>
                <em class="coupon-price"><i>￥</i>2</em>
            </div>
        </div>
        <div class="coupon-exchange">
            <ul>
                <li class="modal-list">
                    <div><p>点券余额</p></div>
                    <div><em>2000点</em></div>
                </li>
                <li  class="modal-list">
                    <div><p>可兑换卡券数量</p></div>
                    <div>
                        <div class="count-control">
                            <em>-</em><input type="tel" value="1" /><em>+</em>
                        </div>
                    </div>
                </li>
            </ul>
            <p>本次兑换将消耗<em class="c-red">2000</em>券点；可兑换<em class="c-red">210元</em>卡券<em class="c-red">22</em>张剩余<em class="c-red">20</em>券点</p>
            <div class="immediately-exchange">
                <a href="" class="btn btn-primary">立即兑换</a>
            </div>
        </div>
    </div>
    <div class="dialog">
        <div class="dialog-alert">
            <header>兑换成功</header>
            <section>
                <p class="msg">您可以到微信卡包中查看</p>
            </section>
            <footer>
                <a href="" class="react">我知道了</a>
            </footer>
        </div>
    </div>
</body>

</html>