<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>邀请记录</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/task.css" />
    <link type="text/css" rel="stylesheet" href="../css/tab.css" />
</head>

<body>
<div class="remind">
    <div class="tab">
        <div class="t-header">
            <span>正在邀请</span>
            <span class="active">邀请成功</span>
        </div>
        <div class="t-body">
            <div class="t-b-main">
                <!--<p class="not-record">您还没有邀请朋友</p>-->
                <dl class="">
                    <dt class="show-time">
                        <em class="fr">2人</em><time>2016年2月五日</time>
                    </dt>
                    <dd>
                        <ul class="task-list">

                            <li>
                                <div class="list-box radius-half">
                                    <div class="l-b-left">
                                        <img src="../images/task-ban.png" />
                                    </div>
                                    <div class="l-b-right">
                                        <div class="l-b-des">
                                            <h2>聚会苏</h2>
                                        </div>
                                        <div class="l-b-point c-red">+200券点</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-box radius-half">
                                    <div class="l-b-left">
                                        <img src="../images/task-ban.png" />
                                    </div>
                                    <div class="l-b-right">
                                        <div class="l-b-des">
                                            <h2>聚会苏</h2>
                                        </div>
                                        <div class="l-b-point c-red">+200券点</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-box radius-half">
                                    <div class="l-b-left">
                                        <img src="../images/task-ban.png" />
                                    </div>
                                    <div class="l-b-right">
                                        <div class="l-b-des">
                                            <h2>聚会苏</h2>
                                        </div>
                                        <div class="l-b-point c-red">+200券点</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <dl class="">
                    <dt class="show-time">
                        <em class="fr">2人</em><time>2016年2月五日</time>
                    </dt>
                    <dd>
                        <ul class="task-list">

                            <li>
                                <div class="list-box radius-half">
                                    <div class="l-b-left">
                                        <img src="../images/task-ban.png" />
                                    </div>
                                    <div class="l-b-right">
                                        <div class="l-b-des">
                                            <h2>聚会苏</h2>
                                        </div>
                                        <div class="l-b-point c-red">+200券点</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-box radius-half">
                                    <div class="l-b-left">
                                        <img src="../images/task-ban.png" />
                                    </div>
                                    <div class="l-b-right">
                                        <div class="l-b-des">
                                            <h2>聚会苏</h2>
                                        </div>
                                        <div class="l-b-point c-red">+200券点</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-box radius-half">
                                    <div class="l-b-left">
                                        <img src="../images/task-ban.png" />
                                    </div>
                                    <div class="l-b-right">
                                        <div class="l-b-des">
                                            <h2>聚会苏</h2>
                                        </div>
                                        <div class="l-b-point c-red">+200券点</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

</body>

</html>