<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>邀请好友</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/remindfirend.css" />
</head>

<body>
<div class="remind-firend">
    <header>
        <img src="../images/logo.png" />
    </header>
    <section>
        <img src="../images/code.jpg" />
        <div class="scan-code">
            <p class="c-red">邀请可获新手奖励2元,并享永久提成</p>
            <p>好友做任务,还可获得他们收入的<em class="c-red">20%</em></p>
        </div>
        <div class="remind-btns">
            <a href="" class="btn btn-primary">开始邀请</a>
        </div>
    </section>
</div>

</body>

</html>