<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>任务列表</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/task.css" />
</head>

<body>
    <div class="task">
        <section>
            <img src="../images/task-ban.png" />
        </section>
        <section>
            <ul class="task-list">
                <li>
                    <a href="" class="react">
                        <div class="list-box go-to">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                    <p>好吃，好玩好看，真的值得推荐</p>
                                </div>
                                <div class="l-b-point c-red">+200券点</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="react">
                        <div class="list-box go-to">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                    <p>好吃，好玩好看，真的值得推荐</p>
                                </div>
                                <div class="l-b-point c-red">+200券点</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="react">
                        <div class="list-box go-to disabled">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                    <p>好吃，好玩好看</p>
                                </div>
                                <div class="l-b-point c-red">+200券点</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </div>

</body>

</html>