<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>任务记录</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/task.css" />
    <link type="text/css" rel="stylesheet" href="../css/taskrecord.css" />

</head>

<body>
<div class="taskrecord">
    <section>
        <dl class="">
            <dt>
                <time class="show-time">2016年2月五日</time>
            </dt>
            <dd>
                <ul class="task-list">

                    <li>
                        <div class="list-box">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                </div>
                                <div class="l-b-point">200券点</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-box">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                </div>
                                <div class="l-b-point">200券点</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-box">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                </div>
                                <div class="l-b-point">200券点</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <time class="show-time">2016年2月五日</time>
            </dt>
            <dd>
                <ul class="task-list">

                    <li>
                        <div class="list-box">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                </div>
                                <div class="l-b-point">200券点</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-box">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                </div>
                                <div class="l-b-point">200券点</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-box">
                            <div class="l-b-left">
                                <img src="../images/task-ban.png" />
                            </div>
                            <div class="l-b-right">
                                <div class="l-b-des">
                                    <h2>聚会苏</h2>
                                </div>
                                <div class="l-b-point">200券点</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
    </section>
</div>

</body>

</html>