<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>个人中心</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/usercenter.css" />
</head>

<body>
<div class="usercenter">
    <section class="user-msg">
        <div class="user-photo">
            <img src="../images/task-ban.png" />
        </div>
        <div class="user-name">
            <h2>xin</h2>
            <p>ID：12345</p>
        </div>
    </section>
    <section>
        <a href="" class="bor-btn">
            <i class="icon icon-code"></i>
            <span>邀请二维码</span>
        </a>
    </section>
    <section>
        <ul class="nav-list">
            <li>
                    <div class="nav-box">
                        <div class="nav-icon">
                            <i class="icon icon-taskremind"></i>
                        </div>
                        <div class="nav-tit">
                            邀请提醒
                        </div>
                    </div>
                    <span class="icon-switch"></span>
            </li>
            <li>
                <a href="" class="react go-to">
                    <div class="nav-box">
                        <div class="nav-icon">
                            <i class="icon icon-prefect"></i>
                        </div>
                        <div class="nav-tit">
                            完善身份信息
                        </div>
                        <div class="nav-tips">
                            新本良
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="react go-to">
                    <div class="nav-box">
                        <div class="nav-icon">
                            <i class="icon icon-addmobile"></i>
                        </div>
                        <div class="nav-tit">
                            添加手机号码
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="nav-list">
            <li>
                <a href="" class="react go-to">
                    <div class="nav-box">
                        <div class="nav-icon">
                            <i class="icon icon-taskrecord"></i>
                        </div>
                        <div class="nav-tit">
                            任务记录
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="react go-to">
                    <div class="nav-box">
                        <div class="nav-icon">
                            <i class="icon icon-remindrecord"></i>
                        </div>
                        <div class="nav-tit">
                            邀请记录
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="react go-to">
                    <div class="nav-box">
                        <div class="nav-icon">
                            <i class="icon icon-exchange"></i>
                        </div>
                        <div class="nav-tit">
                            交易记录
                        </div>
                        <div class="nav-tips">
                            10:00元
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </section>

</div>
<div class="diglog">
    <div class="diglog-confirm">
        <header>身份信息</header>
        <section>
            <dl class="modify-user">
                <dt>
                    <h3>请绑定<span class="c-red">实名信息</span></h3>
                </dt>
                <dd class="input-box">
                    <input class="small-input" type="text" placeholder="姓名"/>
                </dd>
                <dd class="input-box">
                    <input class="small-input" type="text" placeholder="身份证号码"/>
                </dd>
            </dl>
        </section>
        <footer>
            <a href="" class="react">取消</a>
            <a href="" class="react">确定</a>
        </footer>
    </div>
</div>
<div class="dialog">
    <div class="dialog-alert">
        <header>身份信息</header>
        <section>
            <p class="msg">您已成功绑定身份信息</p>
        </section>
        <footer>
            <a href="" class="react">确定</a>
        </footer>
    </div>
</div>

</body>

</html>