.taskrecord .task-list {
  border-top: 1px solid #d2d2d2; }

.taskrecord .l-b-left {
  height: .4rem; }
  .taskrecord .l-b-left img {
    width: .4rem;
    height: .4rem;
    border-radius: .03rem; }

.taskrecord .l-b-right .l-b-point {
  font-size: .15rem;
  color: #aaa; }
